*{
  padding: 0px;
  margin: 0px;
  font-family: 'Oxygen', sans-serif !important;
  font-weight: bold !important;
}

@media (min-width: 768px)
{
#navbarNav{
  display: none !important;
}
}
.row .col-md-4{
  background: grey;
  border: 4px solid white;
  margin-top: 50px;
  
}
h2{
  text-align: center;

}