*{
    padding: 0px;
    margin: 0px;
}

h1,h2{
    font-family: 'Alfa Slab One', cursive;
}
p,span,input{
    font-family: 'Montserrat', sans-serif;
}
h3,h4,h5,h6,a{
    font-family: 'Bebas Neue', cursive;
}
.banner{
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    background-size: cover;
    width: 100%;
}
.nav-item{
    letter-spacing: 2px;
    font-size: 18px;
    margin: auto 15px;
}
.nav-item:hover{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}
    
.navbar{
    padding-top: 25px;
}
/*********************
   Banner title section
   *********************/
   .banner-title{
       margin-top: 150px;
       color: #3d2514;
   }
.pretitle{
    font-size: 18px;
    letter-spacing: 1px;
    border: 3px dashed #3d2514;
    width: 350px;
    padding: 5px;
    text-align: center;
}
.title{
   font-size: 6rem;
   text-shadow: 4px 3px #fee7ba;
}
.subtitle{
    font-size: 43px;
    text-shadow: 3px 2px #fee7ba;
}

/*********************
   Banner title section ends here
   *********************/
   /*********************
   Blog section
   *********************/
.trytoday img{
    position: absolute;
    padding-right: 30px;
}

.trytoday h3{
    font-size: 43px;
}
 .writings{
    position: relative;
    top: 20px;
    left: 10px;
    color: white;
}
.upperblog{
    height: 205px;
}

.upperblog img{
    position: relative;
}
.lowerblog img{
    position: relative;
}
.right-blog .writings{
    position: relative;
    top: -160px;
    left: 10px;
    color: white;
}
.right-blog h3{
    font-size: 40px;
}
.writings h4{
    margin: 0px;
}
.blog-section .button{
    width: 100%;
    text-align: center;
    font-family: 'Bebas Neue',cursive;
}
.blog-section .btn{
    font-size: 1.5rem;
}
.menu{
    margin-top: 30px;
    color: #3d2514;
}
.menu .button .btn{
    font-size: 1.5rem;
    padding: 0px 30px;
    background: red;
}
.menu .button .btn:hover{
    background: white;
    color: red;
}
.menu .button .btn:hover a{
    text-decoration: none;
    color: red;
}
.btn a{
    color: white;
}
.textbox1{
    margin-top: 22px;
}
.textbox3{
    margin-top: 35px;
}
.discover{
    margin-top: 6rem;
    color: #3d2514;
}
.discover .row{
    padding: 15px;
   
}
.discover .owl-carousel:hover{
    box-shadow: 3px 3px 30px black;
    transition: 1s ease-in-out;
}
.owl-dots{
    text-align: left !important;
    position: relative;
    top: -40px;
    left: 10px;

}
.owl-nav{
    display: none;
}
/***********************
CONTACT SECTION STARTS HERE
************************/

.contact{
    margin-top: 3rem;
    background: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #3d2514;
    padding-top: 6rem;
}
.contactform{
    margin-top: 80px;
}
.contact input{
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    padding: 10px 40px;
    margin-bottom: 20px;
}
.contact .btn{
    width: 300px;
    padding: 10px 40px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    background: red;
    
}
.contact .btn:hover{
    background-color: white;
    color: red;
}
.contact .btn:hover h2{
    color: red;
}
.contact .btn h2{
    font-size: 20px !important;
    padding-bottom: 0px;
}
/*****************
FOOTER STARTS HERE
******************/
.bottom .container{
    background-image: url(../img/footer.png);
    margin-bottom: 30px;
}

.bottom .row{
    
    bottom: 400px;
    left: 10px;
}
.bottom .logo{
    padding: 50px;
    color: white;
}
.bottom .info{
    margin-top: 150px;
}
.bottom .address,.email{
    font-size: 24px;
    font-family: 'Bebas Neue', cursive !important;
    color: white;
}
.bottom .address span,.email span{
    font-size: 24px;
    font-family: 'Bebas Neue', cursive !important;
    color: white;
}
.bottom h3{
    color: white;
    margin-top: 30px;
}
.icons{
    color: white;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 10px;
    text-align: right;
}
.icons a{
    color: white;
}
.icons a:hover{
    text-decoration: none;
}
@media( max-width: 768px){
    .navbar-brand img{
        width: 150px;
    }
    .pretitle{
        width: 300px;
    }
    .title{
        font-size: 60px;
    }
    .trytoday{
        margin-bottom: 200px;
    }
    .writings{
        margin-top: 70px;
    }
    .upperblog{
        height: 150px;
    }
    .upperblog .writings h3{
        font-size: 22px;
    }
    .menu .col-md-4{
        margin-bottom: 20px;
    }
    .contact{
        margin-bottom: 300px;
    }
    .contactform{
       margin-left: 0px;
    }
}