*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    width: 100%;
    background: url("../img/image-1.png") ;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}
.navbar-toggler-icon{
    color: white;
}
.nav-item{
    margin-right: 3rem;
}
.nav-item a{
    color: white !important;
    font-weight: 600;
    border-radius: 10px;
}
.nav-item a:hover{
    background: white;
    opacity: 60%;
    color: black !important;
    transition: 0.5s ease-in-out;
}
.navbar{
    margin-top: 0 !important ;
    padding-top: 0px;
}
.jumbotron{
    background: transparent;
    color: white;
}
.lead{
    font-weight: 700;
    margin-top: 2rem;
}
.web{
    margin-top: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1rem;

}
.fa-arrow-down{
    color: white;
}
 .jumbotron .btn{
    border-radius: 100%;
    transform: scale(1.5);
    
    margin-top: 3rem;
}
.aboutme{
    letter-spacing: 5px;
}
.dp img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
}
.second-page h3{
    letter-spacing: 3px;
    margin-top: 3rem;
}
.second-page p{
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 500;
}
.social i{
    font-size: 2rem;
    margin: 2rem;
}
.social a{
    color: black;
}
.second-page .btn{
    margin-top: 2rem;
    background: white;
    border: 2px solid grey;
    color: darkgrey;
}
/*Third page starts here*/
.third-page{
    background: url(../img/image-2.png);
    width: 100%;
    background-repeat: no-repeat ;
    background-position: center;
    height: 95vh;
    margin-top: 3rem;
   
}
.third-page h1{
    color: whitesmoke;
    letter-spacing: 6px;
    margin-top: 10rem;


}
.third-page .icons{
    display: inline-block;
    
}
.third-page .circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #e6e600
    ;
    color: whitesmoke;
    display: inline-block;
    margin: 3rem;
    margin-top: 4rem;
}
.third-page .fas{
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}
.third-page h2{
    font-size: 1rem;
    color: whitesmoke;
}
.forth-page{
    margin: 0px;
    background: lightgray;
    width: 100%;
    height: 50vh;
}
.forth-page .row{
    padding-top: 6rem;
    font-style: italic;
}
.forth-page h2{
    font-weight: 700;
}
.forth-page h3{
    font-size: 18px;
}
.portfolio h2{
    margin-top: 4rem;
    letter-spacing: 10px;
}
/*Image Gallery code*/
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }

    .testimonial{
        background: url(../img/testimonialbg.png);
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .testimonial h2{
        margin: 4rem auto;
        letter-spacing: 10px;
        
    }
    .testimonial h3{
        margin: 10px auto;
        font-weight: 700;
    }
    .testimonial h4{
        letter-spacing: 5px;
    }
    /* Contact section*/
    .contact{
        background: url(../img/image-2.png);
        width: 100%;
        height: 80vh;
    }
    .contact .col-md-3{
        color: whitesmoke;
        margin-top: 3rem;
    }
    .contact a{
        text-decoration: none;
        color: white;
    }
    .offset-1 h2{
        letter-spacing: 7px;
        font-size: 24px;
        margin-top: 0px;
    }
    .offset-1 h3{
        font-size: 12px;
    }
    .offset-1 h4{
        font-size: 18px;
    }
    .info h4{
        font-size: 12px;
    }
    .contactform input{
        background: transparent;

    }
    .contactform input:focus{
        background: transparent;
        color: white;
    }
    .textfield input{
        margin-top: 2rem;
        height: 20vh;
    }
    .contactform{
        margin-top: 2rem;
    }
    .contactform .btn{
        width: 100%;
        margin-top: 1rem;
    }
    @media ( max-width: 768px){
        .third-page .circle{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #e6e600;
            color: whitesmoke;
            display: inline-block;
            margin: 2rem;
            margin-top: 4rem;
        }
        .third-page .fas{
            text-align: center;
            font-size: 1rem;
            margin: 1rem;
        }
        .third-page h2{
            font-size: .5rem;
            color: whitesmoke;
        }
        .forth-page .row{
            padding-top: 2rem;
            font-style: italic;
        }
        .forth-page h3{
            font-size: 12px;
        }
        .forth-page h2{
            font-size: 12px;
        }
        hr{
            margin-left: 10rem !important;
        }
        .offset-1 h4{
            font-size: 12px;
        }
        .info{
            margin-left: 30px;
        }
        .contactform{
            margin-top: 50px;
        }
        .testimonial{
            margin-bottom: 300px;
        }
        .contact{
            height: 110vh;
        }
        }
    

        .owl-carousel .owl-item img {
            width:auto !important;
             display: inline !important; 
              
             
        }